/* You can add global styles to this file, and also import other style files */

body {
    padding-top: 50px;
}

div.container {
    width: 1210px;
    padding-left: 5px;
    padding-right: 5px;
}

app-product {
    float: left;
    margin: 9px 10px;
}

app-productarray {
    float: left;
    width: 100%;
}